babel==2.17.0
cffi==2.0.0
charset-normalizer==3.4.3
cryptography==46.0.2
customtkinter==5.2.2
darkdetect==0.8.0
et_xmlfile==2.0.0
numpy==2.3.3
openpyxl==3.1.5
packaging==25.0
pandas==2.3.2
pdfminer.six==20250506
pdfplumber==0.11.7
pillow==11.3.0
pycparser==2.23
PyMuPDF==1.26.4
pypdfium2==4.30.0
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
tkcalendar==1.6.1
tksheet==7.5.16
tzdata==2025.2
